enviroplus>=0.0.6
ltr559>=0.1.1
Pillow>=9.4.0
pimoroni-bme280>=0.0.2
pimoroni-mics6814>=0.0.2
pms5003>=0.0.5
prometheus_async>=22.2.0
prometheus-client>=0.16.0
python-periphery
RPi.GPIO>=0.7.1
smbus>=1.1.post2
smbus2>=0.4.2
ST7735>=0.0.4.post1
numpy
